# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch
*.pth
*.pt
checkpoints/
runs/
logs/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Data
*.db
*.sqlite
*.sqlite3
src/data/movies.db
data/*.db

# User data (prywatne) - dane użytkowników Letterboxd
database_user/letterboxd-paesielawa-*
database_user/letterboxd-plisiu-*
database_user/letterboxd-kabarecik-*
database_user/*.csv
database_user/filmweb-*/
user_data/letterboxd-*/
user_data/*.csv
user_data/filmweb-*/

# Tymczasowe dane użytkownika (wszystkie pliki w src/data/)
src/data/

# API Keys
.env
*.env

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# TensorBoard
events.out.tfevents.*

database_user/letterboxd-*/
